__pycache__/
venv_aftune/

finetuned_model/
block_records/
inference_records/
module_structures/

attacks/wpa_edited_model/
attacks/concept_rot_edited_model/
attacks/concept-rot/results/
attacks/concept-rot/data/stats/
attacks/BackdoorLLM/attack/WPA/results/

*.pt
*.pth
*.bin
*.safetensors

aftune.manifest
*.manifest.sgx
*.sig
*.token
enclave-key.pem
